@layer components {
  .overlay {
    position: fixed;
    inset: 0;
    z-index: var(--vpb-z-index-modal);
    --overlay-opacity: 0.5;
    background-color: rgb(0 0 0 / var(--overlay-opacity, 0.5));
  }

  .overlay[data-closed] {
    pointer-events: none;
    opacity: 0;
  }

  .overlay[data-transitioning] {
    transition: background-color 300ms ease, opacity 300ms ease;
  }

  .content {
    position: fixed;
    z-index: var(--vpb-z-index-modal);
    background-color: var(--vpb-color-slate-1);
    color: var(--vpb-color-slate-12);
  }

  .content[data-closed] {
    pointer-events: none;
  }

  .content[data-side='left'] {
    inset-block: 0;
    inset-inline-start: 0;
    width: var(--sidebar-width, 14rem);
    max-width: min(18rem, 100% - 2 * var(--vpb-space-4));
    height: 100%;
    border-inline-end: 1px solid var(--vpb-color-slate-6);
    transform: translateX(-100%);
  }

  .content[data-side='left'][data-open] {
    transform: translateX(0);
  }

  .content[data-side='right'] {
    inset-block: 0;
    inset-inline-end: 0;
    width: var(--sidebar-width, 14rem);
    max-width: min(18rem, 100% - 2 * var(--vpb-space-4));
    height: 100%;
    border-inline-start: 1px solid var(--vpb-color-slate-6);
    transform: translateX(100%);
  }

  .content[data-side='right'][data-open] {
    transform: translateX(0);
  }

  .content[data-transitioning] {
    transition: transform 300ms cubic-bezier(0.32, 0.72, 0, 1);
  }
}
